# .pyc files
*.pyc
*/*.pyc
*/*/*.pyc

# Coverage report
.coverage

# Any 101 student code.
codesample/python2/hw4_cast_1.py
codesample/professor_solution
codesample/student_solution
codesample/crossword_solutions
codesample/reduced
playspace/sample_code/
playspace/sample_code/*/*/*.py

# Temporary output files.
output
saved_output
